@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.App {
  min-height: 95vh;
  background-color: #003049;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.2rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-control:valid {
  background-color:  #EAE2B7!important;
}

h2 {
  color: #EAE2B7; 
}
#Airdrop {
  background-color: #003049;
}

#Info {
  background-color: #003049;
}

#Main {
  text-align: center;
}

#Brand {
  text-align: start; 
}
